label {
 font-weight: bold;
 display: block;
 margin-top: 0.5em;
}

.label {
    margin-top: 1em;
}

.checkboxgroup label {
 font-weight: normal;
 display: inline;
 margin-top: 0;
}

.checkboxgroup span {
 display: block;
}

form .error_message {
       display: block;
       color: #ff0000;
}

form .error input,
form .error textarea,
form .error select {
       background-color: #ffdddd;
}


/* customization */

fieldset {
    border: 1px solid #888;
    margin-bottom: 1em;
}

legend {
}

form .submit {
    margin: 1em 0;
}

input, select {
    border: 1px solid #999;
}

fieldset.Hidden {
    border: none;
}

form .Left {
    float: left;
    margin-right: .5em;
}

form .Inline {
    margin: 0;
    float: left;
}

form .Inline label {
    margin: 0;
    display: inline;
}

form .constraint_required label:after {
    content: '*'
}

form .constraint_required input {
    border: 1px solid black;
    background-color: #d0e0ff;
}

#Filter {
    text-align: left;
}

table.Spreadsheet, table.Spreadsheet th, table.Spreadsheet td  {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #999;
    margin: 0;
}
table.Spreadsheet th  {
    text-align: center;
    padding: .2em .2em;
}

table.Spreadsheet td  {
    padding: 1px 5px;
}

form table.Spreadsheet td  {
    padding: 0;
}

table.Spreadsheet td.th  {
    padding: 0 .5em;
}

table.Spreadsheet td input {
   border: none;
}

table.Spreadsheet td input.Error {
   border: 1px solid red;
}

table.Spreadsheet td.Parent {
   color: #666;
   background-color: #f1f1f1;
   padding: 0 .2em;
}

.radiogroup span {
    display: block;
}
.radiogroup label {
    display: inline;
    font-weight: normal;
}

input[disabled], input[readonly] {
    font-weight: bold;
    color: #333;
    background-color: #f1f1f1;
}
