body {
 text-align: center;
 background-color: #E0E0E0;
}

body, div, form, hr, img {
 margin 0; padding: 0; border: 0;
}
body, p, td, li, div {
 font-family: 'verdana', sans-serif;
 color: #333;
 font-size: 10pt;
}
body {
 padding: 1em;
/* text-align: center; */
}
h1, h2, h3, h4 {
 color: #000;
 font-stretch: semi-condensed;
 letter-spacing: 150%;
}
table {
 border: 1px solid #666;
 border-spacing: 0;
 border-collapse: collapse;
}
th {
 font-size: 100%;
 font-weight: bold;
 border: 1px solid #666;
 background-color: #9cc9e8;
 margin: 0; padding: .2em;
 color: #000;
 text-align: center;
}
td {
 border: 1px solid #666;
 margin: 0; padding: .3em;
}
td.th {
 font-weight: bold;
 text-align: right;
}
hr {
 clear: both;
 visibility: hidden;
}
label {
 font-weight: bold;
// display: block;
 margin-top: 0.5em;
}
fieldset {
 margin: 3px;
 padding: 4px;
 border: 1px solid #666;
}
dt {
 font-weight: bold;
 margin-top: .5em;
}
dd {
 margin: 0;
}
dt a {
 color: #666;
}
a {
 color: #000;
}

.Left {
 float: left;
}


.Cleaner {
 clear: both;
}

#All {
 margin: 0 auto;
 text-align: left;
 background-color: #fff;
 border: 1px solid #00406e;
 width: 937px;
}

#Header {
 padding: 5px 0px 8px 16px;
 height: 84px;
 background: url('/img/Header.jpg') no-repeat top right;
}

#Header h1 {
 font-size: 16px;
 margin: 17px 0 0 0;
 padding: 0;
 color: #fff;
}

#Header address {
 font-style: normal;
 font-size: 10px;
 padding: 0;
 font-family: 'arial', sans-serif;
 margin: 2px 0 0 100px;
 color: #fff;
}

#Header a {
 color: #fff;
 text-decoration: none;
}

#Header h1 a {
    padding: 17px 0 0 100px;
}

#Main {
 padding: 20px;
}


#Navigation {
 float: right;
 padding: 0 0 1em 0;
}

ul#MainMenu, ul.RegionMenu  {
 margin: 0;
 padding: 0;
 list-style: none;
}
ul#MainMenu li {
 margin: 0;
 padding: 0 0 0 1.5em;
 float: left;
 list-style: none;
 line-height: 40px;
}
ul.RegionMenu li {
 padding: 0 .75em 0 0;
 float: left;
 list-style: none;
 line-height: 30px;
}
li.Delimited {
 margin-right: .75em;
 background: url('/img/Delimiter.gif') no-repeat 100% 50%;
}
#MainMenu li a, ul.RegionMenu li a {
 text-decoration: none;
 font-size: 12px;
 color: #003E6A;
}

#MainMenu li a:hover , ul.RegionMenu li a:hover {
 color:#000;
}

.Disabled td {
 color: #bbb;
}

table.Sensors {
 width: 850px;
}
table.Sensors .Expander {
 width: 1.5em;
 text-align: center;
}
table.Sensors .Checkbox {
 width: 1em;
 text-align: center;
}
table.Sensors .Limit {
 width: 2.5em;
 text-align: right;
}
table.Sensors .LastChange {
 width: 10em;
 text-align: center;
}
table.Sensors .LastValue {
 width: 4em;
 text-align: right;
}
table.Sensors .SPA {
 width: 1em;
 text-align: center;
}

span.Label {
 font-weight: bold;
}

td.Number {
 text-align: right;
}

td.Center {
 text-align: center;
}

tr.Alert1 td { background-color: #ccffcc; }
tr.Alert2 td { background-color: #ffffbb; }
tr.Alert3 td { background-color: #ffcccc; }

.Range {
 margin: .5em 0;
 text-align: center;
}
.Range a {
 padding: 0 .25em;
 text-decoration: none;
 border: 1px solid #bbb;
 background-color: #9cc9e8;
 font-size: 75%;
}

a.Expander, a.Expander span {
 margin: 0; padding: 0;
 cursor: pointer;
}

a.Expander {
 border: 1px solid #000;
 width: 20px; height: 20px;
 display: block;
 position: relative;
 overflow: hidden;
 text-decoration: none;
 font-size: 13pt;
 font-weight: bold;
 text-align: center;
}

#Disclaimer {
 margin-top: 5em;
 font-family: 'arial', sans-serif;
 color: #003E6A;
 font-size: 11px;
}

#Footer {
 line-height: 30px;
 text-align: center;
 font-size: 11px;
 color: #fff;
 font-family: 'arial', sans-serif;
 background: url('/img/Footer.gif') repeat-x top left;
}

tr.vp11 {background-color: #fff;}
tr.vp12 {background-color: #eee;}
tr.vp131 {background-color: #eee;}
tr.vp13 {background-color: #ddd;}

.Filter {
    text-align: center;
    font-size: 70%;
}


.ui-tabs .ui-tabs-hide {
    position: absolute !important;
    left: -10000px !important;
    display:block !important;
}

.Regions  {
    margin-bottom: 2em;
}

.Regions div  {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    border: 1px solid #2e6e9e;
}

.Regions h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
}

.Regions h3 a {
    display: block;
    padding: .5em 0;
    text-decoration: none;
    color: #2e6e9e;
    background-color: #eaf5fe;
}

.Legend {
    margin-top: 1em;
}

.Legend p, .Legend td {
    font-size: 9px;
}

.DatePicker {
//    border: none;
    width: 6em;
}

td.Opener, td.Opened {
    cursor: pointer;
}

td.Opener span {
	width: 16px;
	height: 16px;
    display: block;
    float: left;
	background-image: url('/css/smoothness/images/ui-icons_888888_256x240.png');
    background-position: -32px 0;
}

td.Opened span {
	width: 16px;
	height: 16px;
    display: block;
    float: left;
	background-image: url('/css/smoothness/images/ui-icons_888888_256x240.png');
    background-position: -64px 0;
}

.ui-button .ui-button-text { display: block; line-height: 1.6;  }
.ui-button-text-only .ui-button-text { padding: .25em .75em; }
.ui-button-icon-only { width: 1.2em; } /* to make room for the icon, a width needs to be set here */
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .1em; }

.PopUp h3 {
    font-size: 100%;
    font-weight: bold;
}
.PopUp h3, .PopUp td {
    white-space:nowrap;
}
.PopUp table {
   margin-right: 5px;
}
