<div id="Container">
[% IF sensor.sms_receivers %]
<table id="Receivers">
<thead>
<tr>
    <th>Číslo</th>
    <th>Jméno</th>
    <th>SPA</th>
    <th>Aktivní</th>
    <th></th>
</tr>
<tbody>
[% FOREACH receiver = sensor.sms_receivers %]
<tr>
    <td><span class="AJAX" data-type="text" data-pk="[% receiver.id %]" data-name="phone" data-emptytext="zadat">[% receiver.phone %]</span></td>
    <td><span class="AJAX" data-type="text" data-pk="[% receiver.id %]" data-name="name" data-emptytext="zadat">[% receiver.name %]</span></td>
    <td><span class="ToggleSPA" data-pk="[% receiver.id %]">[% receiver.spa %]</span></td>
    <td><span class="ToggleActive" data-pk="[% receiver.id %]">[% IF receiver.active %]ANO[% ELSE %]NE[% END %]</span></td>
    <td><a href="#" class="Button Delete" id="delete__[% receiver.id %]">smazat</a></td>
</tr>
[% END %]
</tbody>
</table>
[% END %]
<p>
<form>
<fieldset>
<legend>Přidat příjemce</legend>
Číslo: <input type="text" id="phone" class="validate[required, custom[number]]" size="11" />
Jméno: <input type="text" id="name" size="20" />
SPA: <input type="text" id="spa"  class="validate[required, custom[number]]" size="1" />
<a href="#" id="AddReceiver">přidat</a>
</fieldset>
</form>
</p>
<div class="Cleaner"></div>

<script>
$(document).ready(function() {

   $( ".Delete" ).button(
       {
            icons: {primary: "ui-icon-minusthick"},
            text: false,
       }
   ).click(function(){

       var row = $(this).parent().parent();
       var id  = $(this).attr('id');
       var parts = id.split('__');
       $.ajax({
           cache: false,
           type: "POST",
           url:  "/sensors/[% sensor.id %]/delete_receiver/",
           dataType: "json",
           data: {
               id: parts[1],
           },
           success: function(json) {
               $('#Container').load( "/sensors/[% sensor.id %]/receivers/" );
           },
       });

   });

   $( "#AddReceiver" ).button(
       {
            icons: {primary: "ui-icon-plusthick"},
//            text: false,
       }
   ).click(function(){

       $.ajax({
           cache: false,
           type: "POST",
           url:  "/sensors/[% sensor.id %]/add_receiver/",
           dataType: "json",
           data: {
                phone: $( "#phone" ).val(),
                name: $( "#name" ).val(),
                spa: $( "#spa" ).val()
           },
           success: function(json) {
                if ( json.error ) {
                    alert( json.error );
                }
                else {
                    $('#Container').load( "/sensors/[% sensor.id %]/receivers/" );
                }
           },
       });

   });

   $('.AJAX').editable(
       {
           url: '/sensors/save_receiver/'
           ,success: function(response, newValue) {
               if( response.error ) return response.error;
           }
       }
   );

   $('.ToggleActive').editable({
       url: '/sensors/save_receiver/',
       name: 'active',
       type: 'select',
       title: 'Aktivní',
       source: [{0: 'NE'}, {1: 'ANO'}],
   });

   $('.ToggleSPA').editable({
       url: '/sensors/save_receiver/',
       name: 'spa',
       type: 'select',
       title: 'SPA',
       source: [ 1, 2, 3  ],
   });

});
</script>

</div>
